<div>
    <h2 id="page-heading">
        <span jhiTranslate="startHack2019App.cup.home.title">Cups</span>
        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cup" [routerLink]="['/cup/new']">-->
        <!--<fa-icon [icon]="'plus'"></fa-icon>-->
        <!--<span  jhiTranslate="startHack2019App.cup.home.createLabel">-->
        <!--Create new Cup-->
        <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qrCode"><span jhiTranslate="startHack2019App.cup.qrCode">Qr Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="startHack2019App.cup.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userCupLogin"><span jhiTranslate="startHack2019App.cup.userCup">User Cup</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cup of cups ;trackBy: trackId">
                <td><a [routerLink]="['/cup', cup.id, 'view' ]">{{cup.id}}</a></td>
                <td>{{cup.qrCode}}</td>
                <td jhiTranslate="{{'startHack2019App.CupStatus.' + cup.status}}">{{cup.status}}</td>
                <td>
                    {{cup.userCupLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cup', cup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cup', cup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cup/'+ cup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
